module.exports = ({toggleTime:(function (time){var ti = getDate(time);var month = ti.getMonth() + 1;month = month < 10 ? '0' + month:month;var day = ti.getDate();day = day < 10 ? '0' + day:day;var hour = ti.getHours();hour = hour < 10 ? '0' + hour:hour;var minu = ti.getMinutes();minu = minu < 10 ? '0' + minu:minu;return(month + '月' + day + '日    ' + hour + ':' + minu)}),level:(function (part_large_zh,part_small_rome,pvp_part_star){var jie;if (part_large_zh === '七' && pvp_part_star > 25){jie = '巅峰七阶'} else if (part_large_zh === '七'){jie = '七阶'} else {jie = part_large_zh + '阶' + part_small_rome};return(jie)}),include7:(function (value){return(value && value.indexOf('七') === -1)}),});